*{
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
}
 

.title {
    margin: 20px 10px;
}

.title a{
background-color: green;
color: white;
padding: 5px;
border-radius: 20px;
}

.text {
    margin: 15px 5px;
}

.text a{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px; 
    border-radius: 20px;
    cursor: pointer;
}
section {
    background-color: rgb(173, 151, 93);
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section h4 {
    padding: 30px;
}
section .image {
    margin: 0 ;
}
.img-text {
    display: flex;
    flex-direction: row;
    border-top: dashed black 1px;
}
.image img{
    margin: 10px 5px;
width: 150px;
 height: 150px;
 background-position: center;
 background-size: contain;
 border-radius: 30px;
}
.text1 {
    padding: 30px 45px;

}

.text1 .text {
    display: flex;
    justify-content: flex-end;

}
